name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Clean build cache
        run: bun pm cache clean

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Type Check
        run: bun run typecheck

      - name: Lint
        run: bun run lint

      - name: Build project
        run: bun run build
